<cw-user-dashboard>
    <h1 *ngIf="user && user.name">Welcome {{user.name}}!</h1>
    <h2>Your Goals:</h2>
    <ul>
        <li *ngFor="#goal of goals">
            {{goal.text}}
        </li>
    </ul>
    <h2>Your personal details</h2>
    <ul *ngFor="#pd of personalDetails">
        <h3>{{pd.date}}</h3>
        <li>Weight: {{pd.weight}}</li>
        <li>Bicep: {{pd.bicep}}</li>
        <li>Neck: {{pd.neck}}</li>
        <li>Waist: {{pd.waist}}</li>
        <li>Hips: {{pd.hips}}</li>
        <li>Thigh: {{pd.thigh}}</li>
        <li>Resting Heart Rate: {{pd.resting_heart_rate}}</li>
        <li>Calf: {{pd.calf}}</li>
        <li>Chest: {{pd.chest}}</li>
    </ul>
    <h2>Your Workouts</h2>
    <ul *ngFor="#workout of workouts">

    </ul>
</cw-user-dashboard>